<!DOCTYPE html>
<html>
<head>

  <style>
    header {
      text-align: center;
      background-color: #666;
      padding: 30px;
      font-size: 35px;
      color: #D35400;
    }
    footer {
      text-align: center;
      background-color: #777;
      padding: 10px;
    }
  </style>
  <meta name="author" content="Marco Apraez">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>
<h1>This is the About Page</h1>
</header>


<footer>
<%= link_to 'Home page', root_path %>
</footer>


</body>
</html>
